<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles.css">
    <title>Sigma Tarifs</title>
</head>
<body>
    <div class="navbar">
        <a href="/main">Главная</a>
        <a href="/teachers">Преподаватели</a>
        <a href="/trf">Тарифы</a>
        <a href="/">Авторизация</a>
    </div>

    <div class="tarifs">

        <div class="tarif">
            <div class="nametarif">Казах</div>
            <img src="https://media1.tenor.com/m/CqZmt8KLAgYAAAAd/sigma-argen.gif" alt="че-то">
            <div class="description">Самый обычный тариф, к концу курса станете стандартным сигмой, как любой казах</div>
            <div class="price">Цена: 7.000</div>
        </div>

        <div class="tarif">
            <div class="nametarif">Патрик Бэтмэн</div>
            <img src="https://media1.tenor.com/m/Q823-830Ri0AAAAd/christian-bale-american-psycho.gif" alt="че-то">
            <div class="description">Продвинутый курс, не факт, что к концу станете американцем </div>
            <div class="description">и при этом еще и психопатом, но сигмой точно будете</div>
            <div class="price">Цена: 12.000</div>
        </div>

        <div class="tarif">
            <div class="nametarif">Томас Щебень</div>
            <img src="https://media1.tenor.com/m/DBnP_zU4cLIAAAAd/%D1%82%D0%BE%D0%BC%D0%B0%D1%81-%D1%88%D0%B5%D0%BB%D0%B1%D0%B8.gif" alt="че-то">
            <div class="description">Самый продвинутый курс, к концу начнете нормально одеваться, а может даже заговорите с девочкой! </div>
            <div class="price">Цена: 20.000</div>
        </div>
    </div>
    <footer>
        &copy; Академия Сигм, 2024
        <h4>2200152332791071 - для пожертвований </h4>
    </footer>
    
</body>
</html>