<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles.css">
    <title>Sigma Teachers</title>
</head>
<body>
    <div class="navbar">
        <a href="/main">Главная</a>
        <a href="/teachers">Преподаватели</a>
        <a href="/trf">Тарифы</a>
        <a href="/">Авторизация</a>
    </div>
    <div class="tarifs">
        <div class="tarif">
            <img src="static/IMG_8222.gif" alt="Нурик">
            <h1>Жарылкаганов Нурмухаммед Абдихалыкович</h1>
            <price>Гуртик года в республике Каракалпакстана!</price>
        </div>

        <div class="tarif">
            <img src="static/IMG_9184.gif" alt="Костик">
            <h1>Байбаков Константин Сергеевич</h1>
            <price>Сигма года в республике Беларусь по версии журнала "Картофельный вестник"</price>
        </div>
    </div>

    <footer>
        &copy; Академия Сигм, 2024
        <h4>2200152332791071 - для пожертвований </h4>
    </footer>
</body>
</html>