<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles.css">
    <title>User</title>
</head>
<body>
    <div class="navbar">
        <a href="main.html">Главная</a> 
        <a href="teachers.html">Преподаватели</a> 
        <a href="tarifs.html">Тарифы</a> 
        <a href="auth.html">Авторизация</a>
        <a class="r" href="/">АКАДЕМИЯ СИГМ</a>
    </div>
    <div class="dummy">
        <h1>User страница</h1>
    </div>
</body>
</html>